html,
body {
    width: 100%;
    height: 100%;
    font-weight: normal;
    /* font: 12px / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-display: swap;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* body  */
/* header  */
header {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    border-radius: 10px;
    /* height: 120%; */
}

h1 {
    /* font-size: 0%; */
}

.navi {
    background-color: blue;
    /* height: 120%; */
}

.navi a {
    color: white;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.navi li:hover a {
    color: white;
    border-bottom: 2px solid white;
}

.navi2 li:hover a {
    color: white;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
}

.header-search-booking-btn {
    height: 100%;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: hsla(0, 0%, 100%, .3);
    /* opacity: 50%; */
    color: #ffffff;
    border-radius: 4px;
}

.header-register-btn {
    height: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 4px;
}

.header-register-btn:hover {
    color: #3264ff;
    transition: 0.5s;

}

.btn1 {
    background-color: white;
}

.search {
    margin: 10px;
}

strong {
    font-size: 14px;
}


/* searcg bar  */
.hotel-list-page {
    /* background-image: url("https://th.bing.com/th/id/R.a58d3f96c719a0e290df215fb32c20df?rik=o7vA8jsQSTNLxA&pid=ImgRaw&r=0"); */
    background-color: blue;
    height: 100px;
    position: relative;
    width: 100%;
}

.searchBox .hotel-searchBox {
    width: 77.4%;
    height: 75%;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 8px 20px 0px rgba(15, 41, 77, 0.12);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px 8px;
    position: absolute;
    top: 60%;
    left: 11.4%;
}



.searchBox .list-item {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 4px;
    height: 56px;

}

.calendar-container {
    border-radius: 4px;
    width: 100%;

}

.searchBox .list-destination,
.searchBox .rooms-and-guests,
.calendar-container {
    border: 1px solid #DADFE6;
}

#hotel-destination-label {
    margin: 0;
    padding-left: 6px;
    width: 130px;
}

.search-container:hover {
    transition: 0.5s;
    border-bottom: 3px solid blue;
}

.flex {
    display: flex;
    flex-direction: column;
}

.ul-search {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 0.7fr;
    grid-gap: 10px;
    height: 70px;
    align-items: center;
    margin-left: -25px;
}

.calendar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px;

}




.calendar-container:hover {
    transition: 0.5s;
    border-bottom: 3px solid blue;
}

.in .text {
    padding-left: 6px;
}

.out .text {
    padding-right: 6px;

}

.in {

    width: 110px;

}

.text {
    font-size: 12px;
    color: gray;
    margin-bottom: 0px;
}

#hotel-destination {
    border: none;
    outline: none;
    padding-bottom: 6px;
    font-weight: 600;
    font-size: 13px;
    padding-left: 6px;

    /* margin-bottom:10px ; */
}

#room-guest-text {
    margin: 0;
    font-weight: 500;
    padding-top: 5px;
    font-size: 12px;
    padding-left: 0px;
}

#hotel-destination-label {
    font-size: 12px;
    color: gray;
}

#checkIN {
    border: 0px;
    outline: none;
    font-size: 14px;
    color: black;
    font-weight: 600;
    display: block;
    width: 100%;


}

.label1 {
    margin-top: 7px;
    font-size: 12px;
    color: gray;
}

#checkIn:hover {
    transition: 0.5s;
    border-bottom: 3px solid blue;
    padding-bottom: 5px;
}


.room-guest-container {
    height: 56px;
    min-width: 218px;
}

.room-guest-container:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid blue;
    transition: 0.5s;
}

#time_booking {
    font-size: 12px;
    color: gray;
    margin: 0px 16px;

}

.out {
    text-align: end;
    width: 110px;
    height: 100%;

}

#checkOut {
    display: block;
    border: 0px;
    outline: none;
    font-size: 14px;
    color: black;
    /* text-align: end; */
    font-weight: 600;
    width: 100%;
}


.room-guest-container {
    padding: 0 6px;
}

.rooms-and-guests-text {
    font-weight: 600;
    padding-bottom: 1px;
    margin-bottom: 0;
}

.rooms-and-guests-container:hover {
    border-bottom: 3px solid blue;
    padding-bottom: 5px;
}

/* Dropdown */
.dropdown {
    position: relative;
}

/* Nút dropdown */
.dropbtn {
    background-color: white;
    padding: 0;
    font-weight: 500;
    color: #0f294d;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Mũi tên đi xuống */
.dropdown .dropbtn::after {
    content: "\25BE";
    /* Mã Unicode của mũi tên đi xuống */
    margin-left: 5px;
}

/* Dropdown content (ẩn đi mặc định) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    z-index: 1;
}

/* Hiển thị dropdown content khi hover hoặc focus */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Định dạng các phần tử trong dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Thay đổi màu khi hover */
.dropdown-content a:hover {
    background-color: white;
}

/* Định dạng cho nút dropdown khi hover */
.dropdown:hover .dropbtn {
    background-color: white;
}

/* Số lượng */
.item-count {
    margin-left: 10px;
}

/* Nút cộng */
.add-btn {
    background-color: white;
    color: blue;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 50%;
    border: 2px solid blue;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-button {
    font-size: 18px;
    font-weight: 700;
    height: 56px;
    color: #ffffff;
    line-height: 24px;
    padding: 16px;
    background-color: #3264ff;
    border-radius: 4px;
    border: 0px;
    width: 100%;
}

.search-button:hover {
    background-color: #2953d6;
}


.main-body,
footer {
    padding: 64px 20px 0px;
    margin: 0 10%;
}

.gride.pc tbody {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* recommend */
.click-item:hover {
    color: blue;
    text-decoration: none;
}

.img-wrapper {
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img {
    max-width: 100%;
    max-height: 100%;
}


@media screen and (min-width: 576px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        display: block;
        margin: 0;
        flex: 0 0 calc(100% / 4);

    }

    .img-wrapper {
        height: 13vw;
    }
}

.card {
    margin: 0 0.4em;
    border-radius: 8px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    font-size: 0.9em;
}

.card-body {
    height: 10rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: 6vh;
    height: 6vh;
    background-color: #3365FF;
    border-radius: 50%;
    top: 58%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.9;
}

.budget-friendly,
.trending {
    margin-top: 80px;
}

.seo-htl-table-info {
    max-width: 100vw;
    margin-bottom: 48px;
}

.seo-htl-table-info h2 {
    margin-bottom: 24px;
    font-size: 28px;
    color: #0f294d;
    text-align: left;
    line-height: 34px;
    font-weight: 700;
}

.seo-htl-table-info table {
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    border: 1px solid #dadfe6;
    border-bottom: 0;
    border-right: 0;
    border-spacing: 0;
}

.carousel h2 {
    margin-bottom: 30px;
}

.card-text {
    margin: 15px 0px;
    color: #455873;
    font-weight: 350;
}

h5 {
    height: 30px;
    width: 240px;
    font-size: 1.125em;
    text-wrap: wrap;
}

.btn-primary {
    position: absolute;
    top: 89%;
    left: 35%;
    font-weight: bold;
    color: black;
    border: none;
    background-color: white;
}

.from {
    font-weight: 350;
    font-size: 13px;
    color: #455873;
}

.btn-primary:hover {
    color: black;
    border: none;
    background-color: white;
}

.carousel{
    
}







/* footer  */
footer img {
    width: 1176px;
    height: 499px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__main .footer__item {
    text-align: left;
    width: 33.33%;
    align-items: center;
    align-content: center;
}

.footer__main .footer_links {
    font-size: 14px;
}

.footer__main {
    background-color: #ffffff;
    padding-bottom: 35px;
    font-size: 14px;
    color: #0f294d;
}

.footer__item a {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}

.footer__item h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.footer__main {
    justify-content: center;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 32px;
    padding-bottom: 35px;
}

.Copyright p {
    text-align: center;
    font-size: 12px;
    padding-top: 32px;
    padding-bottom: 35px;

}

/* item ben phải  */
#mid {
    margin-right: 3px;
}

#service-chat {
    position: fixed;
    bottom: 338px;
    right: 20px;
    /* display: none; */
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: blue;
    border: 1px solid blue;
}


#chatbot {
    position: fixed;
    bottom: 275px;
    right: 20px;
    /* display: none; */
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: blue;
    border: 1px solid blue;
}

#btn-back-to-top {
    position: fixed;
    bottom: 400px;
    right: 20px;
    display: none;
    width: 60px;
    height: 60px;
    background-color: blue;
    border: 1px solid blue;
}

/* review  */
.review-wrap,
.review-score {
    display: flex;
    justify-content:space-between;
}

.review-category{
    width: 60%;
}
.score{
    background-color: #023e92;
    color:#e4e4e4;
    border-radius: 20px 0 20px 20px;
    width: 100px;
    text-align: center;
    height: 40px;
    /* margin: 10px; */
    
}
strong{
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.col{
    padding: 0 15px;
}

.review-score{
    width: 250px;
    font-size: x-large;
    font-weight: bold;
}
.review-rank{
    font-size:x-large;
    font-weight: bold;
    color: #023e92;
    text-align: center;
    /* margin-top: 10px; */
}

.review-bar{
    background-color: #e4e4e4;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}
.inner-bar{
    width: 85%;
    background-color: #023e92;
    height: 100%;
    border-radius: 5px;
}


.review-tag{
    margin: 20px 0;
}
.review-tag-item button{
    background-color:#efeeee;
    border: none;
    /* margin: 10px; */
}

.review-tag-item{
    margin: 10px;
    margin-left: 0;
}

.card-head{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.card-avatar{
    width: 50px;
    height: 50px;

}

.card-avatar img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.card-info{
    width: 73%;
}
.card-head h5{
    /* padding: 0; */
    margin: 0;
    height: 50%;
}

.card-info{
    margin-left: 15px;
}

.guest-comment .card{
    width: 17rem;
}